html,
body {
  height: 100%;
}
body {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  margin: 0;
}
header {
  max-height: 100%;
}
#share {
  display: none;
}
#views,
#frame {
  overflow: auto;
}
#views {
  display: flex;
}
#views > * {
  flex: 1;
  overflow: auto;
  width: calc(100% / 3);
}
#views > * > * {
  height: 100%;
}
.cm-focused {
  /* TODO: accessbility */
  outline: none !important;
}
#frame > iframe {
  border: none;
  display: block;
  height: 100%;
  width: 100%;
}
